.container-3{
    height:100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    background-color: black;
    text-align: center;
}
.flexbox-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50,233, 1);
}
.flexbox-rps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}
h1{
  color: white;
}
button{
    width: 100px;
    height: 100px;
    /* background-color: #CCCC; */
    border-radius: 20%

}
